<h2 mat-dialog-title>Add New Children</h2>

<mat-dialog-content @fadeInUp class="pt-4 border-b">
  <form>
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Children Name</mat-label>
      <input matInput [(ngModel)]="data.name" name="name" placeholder="Enter children name">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;" class="mt-2">
      <mat-label>Birth Date</mat-label>
      <input matInput [matDatepicker]="modalPicker" [(ngModel)]="data.birthDate" name="birthDate" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="modalPicker"></mat-datepicker-toggle>
      <mat-datepicker #modalPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Gender</mat-label>
      <mat-select placeholder="Select gender" name="gender" [(ngModel)]="data.gender">
        <mat-option value="MALE">MALE</mat-option>
        <mat-option value="FEMALE">FEMALE</mat-option>
        <mat-option value="OTHER">OTHER</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>
