<div class="registration-container">
  <div @fadeInUp class="form-card">
    <h1 class="brand-name">HRM</h1>
    <div class="d-flex justify-content-between mb-2">
      <h2 class="form-title">Register your company</h2>
      <p class="step-indicator">Step {{stepper.selectedIndex + 1}} of 2</p>
    </div>

    <mat-stepper linear #stepper>
      <ng-template matStepperIcon="edit">
          <mat-icon svgIcon="mat:done_all"></mat-icon>
          </ng-template>
    
          <ng-template matStepperIcon="done">
          <mat-icon svgIcon="mat:done_all"></mat-icon>
      </ng-template>
      <!-- First Step -->
      <mat-step [stepControl]="firstFormGroup" [editable]="true">
        <mat-dialog-content class="mat-typography">
        <form [formGroup]="firstFormGroup" class="row">
          <ng-template matStepLabel>Step 1</ng-template>
          <div class="mb-2"></div>
          <!-- Email -->
          <mat-form-field appearance="outline">
            <mat-label>Your work email</mat-label>
            <input matInput formControlName="email" placeholder="Email" required type="email">
            <mat-error *ngIf="firstFormGroup.get('email')?.hasError('email')">
              Please enter a valid email.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              [type]="inputType"
              formControlName="password"
              matInput
              required />
            <button
              (click)="toggleVisibility()"
              mat-icon-button
              matIconSuffix
              matTooltip="Toggle Visibility"
              type="button">
              <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
              <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
            </button>
          </mat-form-field>
  
          <mat-form-field>
            <mat-label>Password (Confirm)</mat-label>
            <input
              [type]="inputType2"
              formControlName="passwordConfirm"
              matInput
              required />
            <button
              (click)="toggleVisibility2()"
              mat-icon-button
              matIconSuffix
              matTooltip="Toggle Visibility"
              type="button">
              <mat-icon *ngIf="visible2" svgIcon="mat:visibility"></mat-icon>
              <mat-icon *ngIf="!visible2" svgIcon="mat:visibility_off"></mat-icon>
            </button>
          </mat-form-field>
          <p style="font-size: 13px; line-height: 20px;" class="mb-3 text-left">
            Your privacy matters to us. We’ll use your information to share useful content and product updates. See our <button class="primary-color">Privacy Policy</button> and <button class="primary-color">Terms of Service</button> for more information.
          </p>
          <!-- Buttons -->
          <div class="actions d-grid mt-2">
            <!-- Next Button -->
            <button type="button" color="primary" mat-raised-button (click)="createAccount(stepper)">Continue</button>
          </div>
          <div class="text-secondary text-center mt-3">
            <p class="mb-1">
              Is your company already using HRM?
            </p>
            <a [routerLink]="['/login']" class="primary-color">Sign in</a>
          </div>
        </form>
      </mat-dialog-content>
      </mat-step>
    
    <!-- Second Step -->
    <mat-step [stepControl]="secondFormGroup" [editable]="true">
    <mat-dialog-content class="mat-typography">
      <form [formGroup]="secondFormGroup" class="row">
        <ng-template matStepLabel class="mb-2">Step 2</ng-template>
        <div class="mb-2"></div>
      
        <!-- Input for First Name -->
        <mat-form-field appearance="outline" class="col-md-6">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" placeholder="First Name" required>
        </mat-form-field>
      
        <!-- Input for Last Name -->
        <mat-form-field appearance="outline" class="col-md-6">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" placeholder="Last Name" required>
        </mat-form-field>

        <!-- Select for Country -->
        <mat-form-field appearance="outline" class="col-md-6">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country" required>
            <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Input for phoneNumber -->
        <mat-form-field appearance="outline" class="col-md-6">
          <mat-label>Phone Number</mat-label>
          <input matInput formControlName="phoneNumber" placeholder="Phone Number" required>
        </mat-form-field>
      
        <!-- Input for Organization Name -->
        <mat-form-field appearance="outline">
          <mat-label>Organization Name</mat-label>
          <input matInput formControlName="organization" placeholder="Organization Name" required>
        </mat-form-field>
      
        <!-- Select for Number of Employees -->
        <mat-form-field appearance="outline" class="col-md-12">
          <mat-label>Number of Employees</mat-label>
          <mat-select formControlName="numberOfEmployees" required>
            <mat-option *ngFor="let count of employeeCounts" [value]="count.id">{{ count.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      
        <!-- Buttons -->
        <div class="actions flex items-center justify-end gap-2 pb-2">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" type="button" (click)="registerAccount()" [disabled]="isSubmitting">Create</button>
        </div>
      </form>
    </mat-dialog-content>
    </mat-step>
    </mat-stepper>

    <!-- <div
      [formGroup]="form"
      class="p-6 flex flex-col gap-4 flex-auto flex flex-col">
      <div>
        <mat-form-field class="flex-1 block">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput required />
        </mat-form-field>

        <mat-form-field class="flex-1 block">
          <mat-label>E-Mail</mat-label>
          <input formControlName="email" matInput required />
        </mat-form-field>

        <mat-form-field class="flex-1 block">
          <mat-label>Password</mat-label>
          <input
            [type]="inputType"
            formControlName="password"
            matInput
            required />
          <button
            (click)="toggleVisibility()"
            mat-icon-button
            matIconSuffix
            matTooltip="Toggle Visibility"
            type="button">
            <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
            <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="flex-1 block">
          <mat-label>Password (Confirm)</mat-label>
          <input
            [type]="inputType"
            formControlName="passwordConfirm"
            matInput
            required />
          <button
            (click)="toggleVisibility()"
            mat-icon-button
            matIconSuffix
            matTooltip="Toggle Visibility"
            type="button">
            <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
            <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="flex items-center justify-center">
        <mat-checkbox class="caption"
        >I accept the <a>terms and conditions.</a></mat-checkbox
        >
      </div>
      <button (click)="send()" color="primary" mat-raised-button type="button">
        CREATE ACCOUNT
      </button>
      <p class="text-secondary text-center">
        Already have an account?<br />
        <a [routerLink]="['/login']">Sign in here</a>
      </p>
    </div> -->
  </div>
</div>
