<div class="h-full flex flex-col">
  <div class="px-6 pt-2 pb-0 bg-foreground shadow-b flex-none border-b">
    <div class="container px-0">
      <!-- <h1 class="display-1 font-bold mt-0 mb-4 flex items-center">
          <span
            @scaleIn
            class="w-12 h-12 rounded-full text-primary-600 ltr:mr-4 rtl:ml-4 flex items-center justify-center bg-primary-600/10">
            <mat-icon svgIcon="mat:employeesList"></mat-icon>
          </span>
          <span @fadeInRight class="block">employeesList</span>
        </h1> -->

      <div class="flex items-center">
        <div class="border-0 flex-auto mt-4">
          <mat-form-field appearance="outline" class="flex-1 ltr:mr-2 rtl:ml-2" style="max-width: 250px;">
            <mat-icon matPrefix class="icon-sm" svgIcon="mat:search"></mat-icon>
            <input matInput [formControl]="searchCtrl" name="searchCtrl" placeholder="Search name..." type="text" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="flex-1 ltr:mr-2 rtl:ml-2" style="max-width: 250px;">
            <mat-label>Department</mat-label>
            <mat-select name="department" (selectionChange)="onDepartmentChange($event.value)">
              <mat-option [value]="''">None</mat-option>
              <mat-option *ngFor="let dept of allDepartments" [value]="dept">
                {{ dept.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="flex-1 ltr:mr-2 rtl:ml-2" style="max-width: 250px;">
            <mat-label>Designation</mat-label>
            <mat-select name="designation" (selectionChange)="onDesignationChange($event.value)">
              <mat-option [value]="''">None</mat-option>
              <mat-option *ngFor="let dept of designationByDept" [value]="dept.name">
                {{ dept.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- <mat-form-field appearance="outline" class="flex-1 ltr:mr-2 rtl:ml-2" style="max-width: 250px;">
            <mat-label>All employment statuses</mat-label>
            <mat-select>
              <mat-option value="fullTime">Full-time</mat-option>
              <mat-option value="partTime">Part-time</mat-option>
              <mat-option value="partTime">Contactual</mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>

        <button (click)="openContact()" class="ltr:ml-4 rtl:mr-4 flex-none sm:inline-block" color="primary"
          mat-flat-button type="button">
          <mat-icon class="ltr:mr-2 rtl:ml-2 ltr:-ml-1 rtl:-mr-1 icon-sm" svgIcon="mat:add"></mat-icon>
          <span>Add Employee</span>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="filteredEmployees.length !== 0" @stagger class="overflow-y-auto flex-auto">
    <div class="p-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 container">
      <vex-employee-card *ngFor="let contact of filteredEmployees; trackBy: trackById" @fadeInUp
        [contact]="contact"></vex-employee-card>
    </div>
  </div>

  <div *ngIf="filteredEmployees.length == 0" @scaleFadeIn class="flex-auto flex flex-col items-center justify-center">
    <img class="m-12 h-64" src="assets/img/illustrations/idea.svg" />
    <h2 class="headline m-0 text-center">No employees matching your filters</h2>
  </div>
</div>