<h2 mat-dialog-title>Request time off</h2>

<mat-dialog-content @fadeInUp class="pt-4 border-b">
  <form>
    <!-- Assigned selection -->
    <label class="block mb-1 text-sm font-bold">Assign task to:</label>
    <mat-radio-group class="mb-2" [(ngModel)]="assignTo" name="assignTo" color="primary">
        <mat-radio-button value="specific" class="block mb-1">Current employee</mat-radio-button>
        <mat-radio-button value="multiple" class="block mb-1">Multiple employees</mat-radio-button>
    </mat-radio-group>

    <!-- Assigned to single value for enmployee -->
    <mat-form-field *ngIf="assignTo == 'specific'" appearance="outline" style="width: 100%;" class="mt-3 mb-2">
        <mat-label>Assigned to (Current)</mat-label>
        <input matInput type="text" name="employeeName" [(ngModel)]="employeeName" readonly>
    </mat-form-field>

    <!-- for multiple employee select -->
    <mat-form-field *ngIf="assignTo == 'multiple'" appearance="outline" style="width: 100%;" class="mt-3 mb-2">
        <mat-label>Assigned to (multiple)</mat-label>
        <mat-select [formControl]="selectedValueMultiple" multiple>
          <mat-option *ngFor="let topping of employees" [value]="topping">{{topping}}</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Time off policy -->
    <mat-form-field appearance="outline" class="w-full mb-2">
        <mat-label>Time off policy</mat-label>
        <mat-select name="timeOffPolicy">
        <mat-option value="holiday">Holiday</mat-option>
        <mat-option value="parentalLeave">Sickday</mat-option>
        <mat-option value="businessTrip">Business trip</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- single day / multiple day -->
    <label class="block mb-1 text-sm font-bold">Select days:</label>
    <mat-radio-group class="mb-2" [(ngModel)]="selectedDay" name="selectedDay" color="primary">
        <mat-radio-button value="singleDay" class="block mb-1">Single day</mat-radio-button>
        <mat-radio-button value="multipleDAy" class="block mb-1">Multiple day</mat-radio-button>
    </mat-radio-group>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 mt-3">
        <!-- Start Date -->
        <mat-form-field appearance="outline" class="w-full mb-2">
            <mat-label>Start date</mat-label>
            <input matInput [matDatepicker]="startDatePicker" placeholder="Select a start date" name="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>

        <!-- part of the day -->
        <mat-form-field appearance="outline" class="w-full mb-2" *ngIf="selectedDay == 'singleDay'">
            <mat-label>Part of the day</mat-label>
            <mat-select name="partOfTheDay">
            <mat-option value="1 hour">1 hour</mat-option>
            <mat-option value="2 hour">2 hour</mat-option>
            <mat-option value="3 hour">3 hour</mat-option>
            <mat-option value="halfDay">Half day</mat-option>
            <mat-option value="Full day">Full day</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- end Date -->
        <mat-form-field appearance="outline" class="w-full mb-2" *ngIf="selectedDay == 'multipleDAy'">
            <mat-label>End date</mat-label>
            <input matInput [matDatepicker]="endDatePicker" placeholder="Select a end date" name="endDate">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
    </div>

    <!-- Inline Checkbox: Holiday checkbox -->
    <!-- <div class="flex items-center mb-3">
        <mat-checkbox [(ngModel)]="isHoliday" name="holiday" class="mr-2" color="primary">
            <span class="font-bold text-sm" style="color: rgba(0, 0, 0, 0.6);">Holiday</span>
        </mat-checkbox>
    </div> -->

    <!-- details -->
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Details (optional)</mat-label>
        <textarea matInput name="details" rows="2" placeholder="Type details here"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>