<div class="p-6">
    <form @fadeInRight class="container px-3">
        <!-- heading & subheading -->
        <div @stagger class="mb-4">
            <h2 class="mb-1 text-lg font-bold">Training</h2>
            <p class="text-sm text-gray-500">Complete training to gain knowledge and learn new skills.</p>
        </div>

        <!-- Full-page centered training card -->
        <div class="d-flex justify-content-center align-items-center">
            <div class="card mb-3">
                <div class="row g-2 container justify-content-center align-items-center">
                    <!-- Image Column -->
                    <div class="col-xl-5">
                        <img src="../../../../../../assets/img/main/1729690140.jpg" class="img-fluid p-5" alt="...">
                    </div>
                    <!-- Content Column -->
                    <div class="col-xl-7">
                        <div class="card-body text-center">
                            <h3 class="text-lg font-bold mb-2">Your training will appear here</h3>
                            <p class="text-gray-500 mb-4">You don't have any training booked.</p>
                            <button mat-raised-button color="primary" type="button" class="mb-4" (click)="openAddTraining()">
                                <mat-icon class="ltr:mr-2 rtl:ml-2 ltr:-ml-1 rtl:-mr-1 icon-sm" svgIcon="mat:add"></mat-icon>
                                <span>Add training</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form @fadeInRight class="container px-3">
        <!-- heading & subheading -->
        <div @stagger class="mb-4">
            <h2 class="mb-1 text-lg font-bold">Training events</h2>
            <p class="text-sm text-gray-500">Seminars, webinars and workshops to develop your skills and more.</p>
        </div>

        <!-- Full-page centered training card -->
        <div class="d-flex justify-content-center align-items-center">
            <div class="card mb-3">
                <div class="row g-2 container justify-content-center align-items-center">
                    <!-- Image Column -->
                    <div class="col-xl-5">
                        <img src="../../../../../../assets/img/main/1729692336.jpg" class="img-fluid p-5" alt="...">
                    </div>
                    <!-- Content Column -->
                    <div class="col-xl-7">
                        <div class="card-body text-center">
                            <h3 class="text-lg font-bold mb-2">Your training events will appear here.</h3>
                            <p class="text-gray-500 mb-4">You don't have any training events booked.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>