<div class="p-6">
    <form @fadeInRight class="container px-3">
        <!-- heading & subheading -->
        <div @stagger class="mb-4">
            <h2 class="mb-1 text-lg font-bold">Training</h2>
            <p class="text-sm text-gray-500">Complete training to gain knowledge and learn new skills.</p>
        </div>

        <button mat-raised-button color="primary" type="button" class="mb-4" (click)="openAddTraining()">
            <mat-icon class="ltr:mr-2 rtl:ml-2 ltr:-ml-1 rtl:-mr-1 icon-sm" svgIcon="mat:add"></mat-icon>
            <span>Add training</span>
        </button>

        <div class="table-container border border-gray-300 rounded">
            <table mat-table [dataSource]="dataSource.slice().reverse()">
                <ng-container matColumnDef="trainingname">
                    <th mat-header-cell *matHeaderCellDef>Training Name</th>
                    <td mat-cell *matCellDef="let row">{{ row.trainingname }}</td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Dates</th>
                    <td mat-cell *matCellDef="let row">{{ row.trainigstartdate | date: 'shortDate' }} to {{
                        row.trainingenddate | date: 'shortDate' }}</td>
                </ng-container>

                <ng-container matColumnDef="paymenttype">
                    <th mat-header-cell *matHeaderCellDef>Payment Type</th>
                    <td mat-cell *matCellDef="let row">{{ row.paymenttype }}</td>
                </ng-container>

                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef>Cost</th>
                    <td mat-cell *matCellDef="let row">{{ row.cost | currency }}</td>
                </ng-container>

                <ng-container matColumnDef="expirydate">
                    <th mat-header-cell *matHeaderCellDef>Expiry Date</th>
                    <td mat-cell *matCellDef="let row">{{ row.expirydate | date: 'shortDate' }}</td>
                </ng-container>

                <ng-container matColumnDef="trainingformat">
                    <th mat-header-cell *matHeaderCellDef>Training Format</th>
                    <td mat-cell *matCellDef="let row">{{ row.trainingformat }}</td>
                </ng-container>

                <ng-container matColumnDef="file">
                    <th mat-header-cell *matHeaderCellDef>Document</th>
                    <td mat-cell *matCellDef="let row">
                        <a mat-icon-button color="primary" [href]="row.file" target="_blank">
                            <mat-icon color="primary" svgIcon="mat:cloud_download"></mat-icon>
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
                            <mat-icon svgIcon="mat:more_vert"></mat-icon>
                        </button>
                        <mat-menu #actionsMenu="matMenu">
                            <button mat-menu-item type="button" (click)="delete(row.trainingid)">Delete <mat-icon
                                    svgIcon="mat:delete"></mat-icon></button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row
                    *matHeaderRowDef="['trainingname', 'date', 'paymenttype', 'cost', 'expirydate', 'trainingformat', 'file', 'actions']">
                </tr>
                <tr mat-row
                    *matRowDef="let row; columns: ['trainingname', 'date', 'paymenttype', 'cost', 'expirydate', 'trainingformat', 'file', 'actions']">
                </tr>

                <tr *matNoDataRow>
                    <td colspan="8" class="text-center py-2 text-gray-500">No data found. Click the button above to
                        add Training.</td>
                </tr>
            </table>
        </div>

        <!-- Full-page centered training card -->
        <!-- <div class="d-flex justify-content-center align-items-center" *ngIf="dataSource.length === 0">
            <div class="card mb-3">
                <div class="row g-2 container justify-content-center align-items-center">
                    Image Column
                    <div class="col-xl-5">
                        <img src="../../../../../../assets/img/main/1729690140.jpg" class="img-fluid p-5" alt="...">
                    </div>
                    Content Column
                    <div class="col-xl-7">
                        <div class="card-body text-center">
                            <h3 class="text-lg font-bold mb-2">Your training will appear here</h3>
                            <p class="text-gray-500 mb-4">You don't have any training booked.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </form>

    <!-- <form @fadeInRight class="container px-3">
        heading & subheading
        <div @stagger class="mb-4">
            <h2 class="mb-1 text-lg font-bold">Training events</h2>
            <p class="text-sm text-gray-500">Seminars, webinars and workshops to develop your skills and more.</p>
        </div>

        Full-page centered training card
        <div class="d-flex justify-content-center align-items-center">
            <div class="card mb-3">
                <div class="row g-2 container justify-content-center align-items-center">
                    Image Column
                    <div class="col-xl-5">
                        <img src="../../../../../../assets/img/main/1729692336.jpg" class="img-fluid p-5" alt="...">
                    </div>
                    Content Column
                    <div class="col-xl-7">
                        <div class="card-body text-center">
                            <h3 class="text-lg font-bold mb-2">Your training events will appear here.</h3>
                            <p class="text-gray-500 mb-4">You don't have any training events booked.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form> -->
</div>