<div *ngIf="selectedForm === 'employee'">
  <vex-employee-form></vex-employee-form>
</div>

<div *ngIf="selectedForm === 'personal'">
  <vex-personal-form></vex-personal-form>
</div>

<div *ngIf="selectedForm === 'notes'">
  <vex-notes-form></vex-notes-form>
</div>

<div *ngIf="selectedForm === 'documents'">
  <vex-documents-form></vex-documents-form>
</div>

<div *ngIf="selectedForm === 'assets'">
  <vex-assets-form></vex-assets-form>
</div>

<div *ngIf="selectedForm === 'training'">
  <vex-training-form></vex-training-form>
</div>

<div *ngIf="selectedForm === 'emergencyContacts'">
  <vex-emergency-contacts-form></vex-emergency-contacts-form>
</div>

<div *ngIf="selectedForm === 'tasks'">
  <vex-tasks-form></vex-tasks-form>
</div>

<div *ngIf="selectedForm === 'onboarding'">
  <vex-onboarding-form></vex-onboarding-form>
</div>

<div *ngIf="selectedForm === 'reports'">
  <vex-reports-form></vex-reports-form>
</div>

<div *ngIf="selectedForm === 'timeOff'">
  <vex-time-off-form></vex-time-off-form>
</div>

<div *ngIf="selectedForm === 'compensation'">
  <vex-compensation-form></vex-compensation-form>
</div>
